streamlit==1.36.0
fastapi==0.115.0
uvicorn==0.30.6
PyPDF2==3.0.1
PyMuPDF==1.26.6
pytesseract==0.3.13
Pillow==10.4.0
sentence-transformers==3.0.1
transformers==4.44.2
torch>=2.2.0
faiss-cpu==1.8.0.post1
scikit-learn==1.5.1
plotly==5.23.0
matplotlib==3.9.2
pandas==2.2.2
numpy==1.26.4
xgboost==2.1.1
python-dateutil==2.9.0.post0
